* { 

}

body {
    margin: 0%;
    font-family: Helvetica;
}
header {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    height: 69px;
    width: 100%;
    display: inline-flex;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
}

#logo {
    height: 50px;
    align-self: center;
    margin-left: 10px;    
}

#nav {
    margin-left: auto;
}

ul {
    color: seashell;
    margin-right: 10px;
}

li {
    display: inline-flex;
    text-decoration: underline
}

main {
    margin-top: 69px;  
}

#mission {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 700px;
    margin: auto;
    background-image: url(./pics/img-mission-background.jpg);


}
.text {
    background-color: black;
}
#mission-text {
    width: 1200px;
}

h2 {
    text-align: center;
    color: seashell;
}

h4 {
    text-align: center;
    color: seashell;
}

#month {
    width: 1000px;
    margin: auto;
    background-color: black;
}

#monthlytea {
    display: inline-flex;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
}

.tea-pic {
    height: 190px;
    width: 290px;
    margin: 10px;
}

#locations {
    background-image: url(./pics/img-locations-background.jpg);
    height: 500px;
    width: 1200px;
    margin: auto;
}

#locations-title {
    padding-top: 70px;
    margin-bottom: 0px;
    }

#cube-of-cubes {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.location-cube {
    background-color: black;
    width: 300px;
    margin: 15px 20px;
}

h3 {
    font-size: 22px;
    color:  seashell;
    text-align: center;
    padding: 16px;
}

p {
    font-size: 20px;
    color:  seashell;
    text-align: center;
    padding: 14px;
}